<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>landScreen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C0DD592A1D6553B3002C911F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0DD59431D6553B3002C911F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0DD594E1D6553B3002C911F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
